*.userprefs
*.suo
*.user
*.pdb
*.pidb
*.exe
*.pdb
*.dll
*.manifest
.cache

/packages

!.nuget/nuget.exe

/Client/obj
/Client/bin/
/Command/obj
/Command/bin/
/Connection/obj
/Connection/bin/
/ConsoleTest/obj
/ConsoleTest/bin/